.page {
    height: auto;
}

.page header{
    margin: 0 auto;
    padding: 120px 0;
    height: 500px;
}

.subheader_logo__link {
    display: none;
    justify-content: center;
    margin-bottom: 40px;
    text-decoration: none;
    color: #000;
}

.subheader_logo__link img {
    height: 30px;
    width: 30px;
}

.subheader_logo__link h2 {
    font-family: HelveticaNeue Condensed;
    font-size: 24px;
    margin: 0 9px;
    height: 100%;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
} 

.page h1{
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    letter-spacing: -3pt;
    margin: 15px 0;
}

.page h1 > div:nth-child(2){
    border-bottom: 10px solid rgba(245, 40, 40);
    padding-bottom: 10px;

}

.page p{
    margin: 0 auto;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
}

.call_to_action {
    margin: 0 auto;
    text-align: center;
    height: 100px;
    padding-top: 40px;
}

.call_to_action_link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 200px;
    padding: 12px 12px 12px;
    border-radius: 4px;
    border: 1px solid rgb(245, 40, 40);
    font-size: 16px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    background-color: rgb(245, 40, 40);
}

.call_to_action_link:hover {
    background-color: rgb(218, 31, 31);
}

/* MEDIA QUERIES */

@media (max-width: 683px)   {
    .subheader_logo__link {
        display: flex;
    }   

    .page h1{
        font-size: 45px;
    }

    .page p{
        font-size: 20px;
    }
}