.main_nav_secondary__item{
    margin-left: 20px;
    width: auto;
    position: relative;
}

.main_nav_secondary__item:nth-child(1){
    display: flex;
}

.main_nav_secondary__item:nth-child(1) i{
    position: absolute;
    top: 12px;
    left: 12px;
}

.main_nav_secondary__item input{
    height: 40px; 
    padding-left: 40px;
    font-size: 16px;
    outline: none;
    color: rgb(245, 40, 40);
    width: 100%;
    background: rgba(155, 153, 153, 0.1);
    border: none;
}

.main_nav_secondary_item__link{
    text-decoration: none;
    height: 10px;
    background-color: transparent;
    padding: 7px 12px 8px;
    color: rgb(245, 40, 40);
    border-radius: 4px;
    border: 1px solid rgb(245, 40, 40);
    font-size: 13px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
}

.main_nav_secondary_item__link__signup {
    color: rgb(255, 255, 255);
    background-color: rgb(245, 40, 40);
    width: 100%;
}

.main_nav_secondary_item__link__login {
    color: rgb(105, 105, 105);
    background-color: none;
    border: none;
    width: 100%;
}

/* MEDIA QUERIES */

@media (max-width: 734px) {
    .main_nav_secondary_item__input {
        width: 30%;
    }
    .main_nav_secondary__item input{
        width: 100%;
    }
}

@media (max-width: 683px) {
    .main_nav_secondary_item__input {
        width: 20%;
    }
}

@media (max-width: 600px) {
    .main_nav_secondary_item__link{
        display: none;
    }

    .main_nav_secondary__item {
        margin: 0;
    }

    .main_nav_secondary_item__input {
        width: 90%;
        margin: 0 auto;
    }
}