body {
    margin: 0;
    font-family: Fakt, AvenirNext-Medium, "Segoe UI", sans-serif;
}

*, ::after, ::before{
    box-sizing: border-box;
}

.main_nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid rgb(216, 213, 213);
    position: fixed;
    background-color: #fff;
    z-index: 1000;
}

.main_nav__logo {
    width: auto;
    margin-left: 12px;
    display: flex;
    text-decoration: none;
    color: #000;
}

.main_nav__logo img {
    height: 30px;
    width: 30px;
}

.main_nav__logo h2 {
    font-family: HelveticaNeue Condensed;
    font-size: 24px;
    margin: 0 9px;
    height: 100%;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

.main_nav__secondary {
    list-style: none;
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* MEDIA QUERIES */

@media (max-width: 734px) {
    .main_nav__secondary {
        justify-content: flex-end;
    }
}

@media (max-width: 683px) {
    .main_nav__secondary {
        justify-content: flex-end;
    }
}

@media (max-width: 600px) {
    .main_nav__secondary {
        width: 100%;
        padding: 0;
    }
    
    .main_nav__logo {
        display: none;
    }
}