body {
    margin: 0;
    font-family: Fakt, AvenirNext-Medium, "Segoe UI", sans-serif;
}

*, ::after, ::before{
    box-sizing: border-box;
}

header {
    height: 60px;
}

.main_nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid rgb(216, 213, 213);
    position: fixed;
    background-color: #fff;
    z-index: 1000;
}

