.container__signup {
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.backdrop__signup {
    width: 100vw;
    height: 100vh;
    padding: 6%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.form_card__signup {
    width: 360px;
    border-radius: 5px;
    height: auto;
    padding-top: 10px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
}

.logo__signup,
.form_block__signup,
.footer__signup {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
}

.logo__signup img {
    width: 50px;
}

.logo__signup h2 {
    margin-top: 5px;
    margin-bottom: 12px;
    color: rgb(36, 33, 33);
    font-family: HelveticaNeue Condensed;
    text-transform: uppercase;
}

.form_block__signup input, 
.form_block__signup button,
.form_block__signup a{
    width: 315px;
    margin-bottom: 9px;
}

.form_block__signup input{
    display: block;
    font-size: 16px;
    padding-left: 12px;
    height: 40px;
    border-radius: 1px;
    border: 1px solid rgb(201, 197, 197);
}

.form_block__signup input::placeholder{
    color: rgb(124, 119, 119);
}

.form_block__signup input:nth-child(3){
    margin-bottom: 16px;
}

.form_block__signup button{
    height: 37px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    background-color: rgb(231, 152, 152);
}

.form_block__signup p {
    font-size: 14px;
    margin-bottom: 20px;
}

.form_block__signup a {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(78, 102, 163);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
}

.footer__signup p{
    text-align: center;
    font-size: 14px;
    color: rgb(61, 60, 60);
}

.footer__signup p:nth-child(1) > span {
    color: rgb(163, 158, 158);
}

.footer__signup p:nth-child(2) {
    margin-top: 2px;
}

.footer__signup p:nth-child(3) {
    width: 80%;
    margin-top: 0;
    margin-bottom: 22px;
}

.footer__signup p:nth-child(3) a {
    color: #000;
}

@media (max-width: 415px) {
    .backdrop__signup {
        padding: 0;
        width: auto;
    }

    .form_card__signup {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width: 345px) {
    .backdrop__signup {
        padding: 0;
        width: auto;
    }

    .logo__signup h2 {
        margin-top: 5px;
        margin-bottom: 12px;
    }
    
    .form_block__signup input, 
    .form_block__signup button,
    .form_block__signup a{
        width: 280px;
        margin-bottom: 9px;
    }
    
    .form_block__signup input{
        display: block;
        font-size: 16px;
        padding-left: 12px;
        height: 40px;
        border-radius: 1px;
        border: 1px solid rgb(201, 197, 197);
    }
}