.home_feed_list {
	width: 1200px;
	height: auto;
	display: grid;
	grid-template-columns: 32.1% 32.1% 32.1%; 
	grid-gap: 50px 20px;
	background-color: #fff;
}

/* MEDIA QUERIES */

@media (max-width: 1250px) {
	.home_feed_list {
		width: 1000px;
		grid-template-columns: 48.9% 48.9%;
	}
}

@media (max-width: 1065px) {
	.home_feed_list {
		width: 900px;
		grid-column-gap: 20px;
	}
}

@media (max-width: 965px) {
	.home_feed_list {
		width: 800px;
	}
}

@media (max-width: 870px) {
	.home_feed_list {
		width: 95%;
	}
}

@media (max-width: 600px) {
    .home_feed_list {
        display: none;
    }
}