div.home_feed_list {
    width: 100%;
	height: auto;
	margin: 0 auto;
	-webkit-animation: fadein 2s;
	animation: fadein 2s;
	position: relative;
	border-bottom: 1px solid rgb(231, 231, 231);
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

div.home_feed_list > div:nth-child(1), div.home_feed_list > div:nth-child(3) {
	width: 100%;
	height: 47px;
	display: flex;
	justify-content: flex-end;
	padding: 20px auto;
}

div.home_feed_list > div:nth-child(3) {
	display: flex;
	justify-content: flex-end;
	padding: 20px auto;
}

div.home_feed_list > div:nth-child(2) {
	width: 100%;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

div.home_feed_list > div:nth-child(2) h2{
	position: absolute;
	text-transform: uppercase;
	color: #fff;
	top: 0;
	font-size: 20px;
	z-index: 10;
	margin: 10px 10px;
	letter-spacing: 0pt;
	left: 10px;
}

img.home_feed_image {
	width: 500px;
	position: relative;
	height: 100%;
	object-fit: cover;
}

.overlay {
	height: 400px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 5;
	position: absolute;
	top: 46px;
	left: 0;
}

/* MEDIA QUERIES */

@media (max-width: 830px) {
	img.home_feed_image {
		left: -10%;
	}
}

@media (max-width: 745px) {
	img.home_feed_image {
		left: -22%;
	}
}

@media (max-width: 650px) {
	img.home_feed_image {
		left: -24%;
	}
}