.home_feed_nav {
   height: auto;
   border-bottom: 1px solid rgb(209, 208, 208);
   margin-bottom: 20px;
   background: #fff;
   width: 1200px;
}

.home_feed_nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 100%;
}

.home_feed_nav li {
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0vmax;
    font-size: 15px;    
}

.home_feed_nav li > a {
    text-decoration: none;
    color: rgb(145, 143, 143);    
}

.home_feed_nav li > a:focus,
.home_feed_nav li > a:hover{
    color: rgb(37, 37, 37);    
}

/* MEDIA QuERIES */

@media (max-width: 1250px) {
	.home_feed_nav {
		width: 1000px;
	}
}

@media (max-width: 1065px) {
	.home_feed_nav {
		width: 900px;
	}
}

@media (max-width: 965px) {
	.home_feed_nav {
		width: 810px;
	}
}

@media (max-width: 870px) {
	.home_feed_nav {
		width: 100%;
	}
}

@media (max-width: 700px) {
    .home_feed_nav li {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .home_feed_nav {
        display: none;
    }
}